* {
  margin: 0;
  padding: 0;
}

/* theme */
.theme{
  background-color: black;
  text-align: center;
}



.theme-text{
  /* font-size: 100%; */
  padding-top: 20%;
  color: #CE09FF;
}

.theme-text-main{
  padding-top: 7%;
  padding-bottom: 25%;
  color: #fff;
}

.return-btn {
  margin-top: -4%;
  display: block;
  width: 19%;
  height: 4%;
  background-color: rgb(251, 0, 255);
  margin: 0 auto;
}
.return-btn a {
  text-decoration: none;
  color: white;
}



.scrolldown4{
	position:absolute;
	bottom:1%;
	right:50%;
	animation: arrowmove 1s ease-in-out infinite;
}
.scrolldown4 span{
	position: absolute;
	left:-20px;
	bottom:10px;
	color: #eee;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.scrolldown4:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 2px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}

.scrolldown4:after{
	content:"";
	position: absolute;
	bottom:0;
	right:0;
	width:2px;
	height: 50px;
	background:#eee;
}



@keyframes arrowmove{
  0%{bottom:1%;}
  50%{bottom:3%;}
  100%{bottom:1%;}
}

@media (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  .scrolldown4 {
    display: none;
  }
  .theme-text{
    /* font-size: 50%; */
    padding-top: 60%;
    color: #CE09FF;
  }
  .theme-text-main{
    padding-top: 7%;
    padding-bottom: 25%;
    color: #fff;
    font-size: 70%;
    line-height: 400%;
  }
}